[Desktop Entry]
Type=Application
Name=Odin Launcher (Watcher)
Comment=Watch a project folder and run `odin run` on changes
Terminal=false
TryExec=odin
Exec=fish -c "killall tools 2>/dev/null; or true; /home/mike/Source/vk/tools/tools /home/mike/Source/vk"
Path=/home/mike/Source/vk
Icon=utilities-terminal
Categories=Development;
SingleMainWindow=true
StartupNotify=true
